@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/roboto-black-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

body {
    font-family: 'robotoblack';
  }
  
  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  /* Center the content in the browser window */
  .container {
    margin: auto;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
  }